.text {
  float: right;
  height: 30px;
  width: 238px;
  font-size: 20px;
  line-height: 30px;
  color: #aaaaaa;
}
div {
  float: left;
  margin-left: 40%;
}
.window {
  margin-left: 2px;
  border: black 1px solid;
}
.window_prompt {
  width: 70px;
  text-align: right;
}
#mathResult,
#userIn {
  margin-left: 10px;
  border: black 1px solid;
  height: 30px;
  width: 238px;
  text-align: right;
  font-size: 25px;
  line-height: 30px;
  padding-right: 10px;
}
#main td {
  border: black 1px solid;
  height: 50px;
  width: 80px;
  text-align: center;
  font-size: 30px;
}
#main td:hover {
  background-color: #dddddd;
}
#main td:active {
  background-color: #505050;
}


