* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin: 40px auto;
  width: 338px;
}
.calc_top {
  width: 338px;  
  border: 1px #000 solid;
  border-radius: 2px;

}
.calc_top_content {
  overflow: hidden;
  padding: 4px 0;
}
.calc_top_content p {
  float: left;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
}
.calc_top_title {
  width: 70px;
  text-align: right;
}
#mathResult,
#userIn {
  margin-left: 10px;
  border: black 1px solid;
  height: 30px;
  width: 238px;
  text-align: right;
  font-size: 25px;
  line-height: 30px;
  padding-right: 10px;
}

.text-gray {
  color: #AAAAAA;
}
.calc_bottom {
  width: 338px;  
  /* border: 1px #000 solid; */
  /* border-radius: 2px; */
  margin-top: 4px;

}
.calc_bottom_row {
  display: flex;

}
.calc_bottom_col {
  margin-right: 4px;
  margin-bottom: 2px;
  width: 82px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  border: 1px #000 solid;
  border-radius: 2px;
  font-size: 30px;
  cursor: pointer;
}
.calc_bottom_col:last-child {
  margin-right: 0;
}
.calc_bottom_col_2 {
  width: 168px;
}

#calcList {
  margin-top: 10px;
}
#calcList div {
  height: 30px;
  font-size: 30px;
  line-height: 30px;
}


