* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin: 40px auto;
  width: 338px;
}
.calc_top {
  width: 338px;  
  border: 1px #000 solid;
  border-radius: 2px;

}
.calc_top_content {
  overflow: hidden;
  padding: 4px 0;
}
.calc_top_content p {
  float: left;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
}
.calc_top_title {
  width: 70px;
  text-align: right;
}
#mathResult,
#userIn {
  margin-left: 10px;
  border: black 1px solid;
  height: 30px;
  width: 238px;
  text-align: right;
  font-size: 25px;
  line-height: 30px;
  padding-right: 10px;
}

.text-gray {
  color: #AAAAAA;
}
.calc_bottom {
  width: 338px;  
  /* border: 1px #000 solid; */
  /* border-radius: 2px; */
  margin-top: 4px;

}
.calc_bottom_row {
  display: flex;

}
.calc_bottom_col {
  margin-right: 4px;
  margin-bottom: 2px;
  width: 82px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  border: 1px #000 solid;
  border-radius: 2px;
  font-size: 30px;
  cursor: pointer;
}
.calc_bottom_col:last-child {
  margin-right: 0;
}
.calc_bottom_col_2 {
  width: 168px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.button-wrapper button {
  /* margin-right: 30px; */
}
button {
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  border: 1px #DDD solid;
  border-radius: 4px;
  background: #FFF;
  cursor: pointer;
}
button:hover {
  border: 1px #1677ff solid;
  color: #1677ff;
}

#calcList {
  margin-top: 10px;
}
#calcList div {
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  width: 338px;
  position: relative;
}

.checkMark {
  display: inline-block;
  margin-left: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D4D7D7;
  position: absolute;
  right: 0;
  top: 17px;
  cursor: pointer;
  transform: scale(1.8);
  /* &:hover {
    background-color: #00C8C8;
  } */
  &.disabledBtn {
    background-color: #E4E4E4;
  }
}
.checkMark::before {
  content: '';
  width: 6px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  top: 10px;
  left: 2px;
  transform: rotate(45deg);
}
.checkMark::after {
  content: '';
  width: 11px;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  top: 8px;
  left: 5px;
  transform: rotate(-45deg);
}
.checkMark.active {
  background-color: #00C8C8;
}

